<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href=""> <!--left side, always visible, contains logo and optional links or icons
     <!--can add img and text here
    </a>
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
     <span aria-hidden="true"></span>
     <span aria-hidden="true"></span>
     <span aria-hidden="true"></span>
     <!--the burger toggles the navbar menu on touch devices
    </a>
  </div>

  <div class="navbar-menu">  <!--the right side, hidden on touch devices unless modifier is-active is added, visible on desktop 
    <div class="navbar-start">
     <!-- navbar items -->
     <a class="navbar-item" href=""> <!-- need HOME link here
         Home
     </a>
    </div>

    <div class="navbar-end">
     <!-- navbar items -->
       <div class="navbar-item has-dropdown">
         <a class="navbar-link">
          Genre Estimator
         </a>
   
       <div class="navbar-dropdown">
         <!-- Other navbar items -->
     </div>
    </div> <!-- end navbar-end

    </div> <!--end menu



</nav>
